.update-profile-select{
    display: flex;
    gap: 0.25rem;
}
.profile-form{
   display: flex;
   flex-direction: row; 
   column-gap: 1rem;
}
.profile{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media screen and (max-width : 435px) {

    .profile-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: start;
    }

    
}

/* edit profile css */
.text-Shadow{
    letter-spacing: 1px;
    text-shadow: 0px 3px 5px rgba(81,67,21,0.8);
      
}
.edit-profile-form{
    display: flex;
    column-gap: 2rem;
}
.edit-profile-box{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    width: 48%;

}

.edit-section-form{
    padding: 1rem;
}

.form-style{
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;

}
@media screen and (max-width : 450px){
    .edit-profile-form{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .edit-profile-box{
        width: 100%;
    }
}