
.loader{
    position: absolute;
    top: 50%;
    left : 50%;
    /* width: 45px;
    height: 45px;
    border: 6px solid black;
    border-top: 6px solid blue;
    border-right: 6px solid blueviolet;
    border-radius: 50%;
    animation: rotater 0.5s linear  infinite ; */
}
/* @keyframes rotater {
    to{
        transform: rotate(360deg);
    }
} */
.produ{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    
}
.dot{
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 100%;
    animation: upDown 0.8s linear  infinite alternate;
}
@keyframes upDown {
    0%{
        transform: scale(0); 
    }
    50%{
        transform: scale(0.5);background-color:blue; 
    }
    100%{
        transform: scale(1); background-color:aqua; 
    }  
}
.dot:nth-child(2)
{
    animation-delay: 0.3s;
}
.dot:nth-child(3)
{
    animation-delay: 0.4s;
}
.dot:nth-child(4)
{
    animation-delay: 0.5s;
}
.dot:nth-child(5)
{
    animation-delay: 0.6s;
}
.dot:nth-child(6)
{
    animation-delay: 0.7s;
}